.container-molho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.lista-molhos{
   font-size: 1.6rem;
   text-align: center;
   color: var(--color-secundary);
}

#molho-title{
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 2.6rem;
}
