.pastas-section{
    height: 100vh;
    padding: 80px;
    /* margin-bottom: 10px; */
}
#pastas-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 10px;
}
.pasta-card{
    padding: 10px;
    padding-bottom: 0;
    border-radius: 5px;
   
    text-align: center;
}

.pasta-img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: -5px 5px 10px black ;
    margin-bottom: 10px;
}
 
.pasta-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
}

.pasta-price{
    text-align: center;
    margin-top: 15px;
    color: black;
} 